.container
{
    text-align: center;
    margin-top: 30px;
}
table
{
    margin: auto ;
}
input
{
    font-size: 46px;
    border: 8px solid #3689ff;
    border-radius: 12px;
}
button
{
    font-size: 53px;
    background-color: #69c6ff;
    width: 120px;
    height: 82px;    
    border-radius: 20px;
}
.calculator
{
    display: inline-block;
    border: 10px solid #3689ff;
    background-color: #3689ff;
    border-radius: 15px;
    padding: 15px;
}